/*Resetando os estilos que os navegadores tem por padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Alinhando os elementos no centro da pagina */
body{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 3rem;
    text-align: center;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 3rem;
}

.images{
    width: 100px;
    /* passando uma transição do tipo tranform que foi criada no hover, essa transição irá demorar 0.5 segundos para atingir a escala total*/
    transition: transform .5s ease;
}

/* Ao passar o mouse em cima da imagem, ela aumentará sua escala*/
.images:hover{
    transform: scale(1.1);
}

h2{
    margin-top: 3rem;
    text-align: center;
}

table{
    background: rgb(186, 186, 186);
    border: 1px solid black;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 28rem;
}

th{
    padding: 0.8rem;
    background: gray;
}

td{
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.read-only{
    padding: 0.5rem;
    border: none;
    text-align: center;
    outline: none;
    background-color: rgb(186, 186, 186);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.form > input{
    width: 25rem;
}

.box-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.inputs-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.inputs-container > input{
    width: 15rem;
    border: none;
    padding: 0.3rem;
}

.button{
    padding: 0.3rem;
    margin-bottom: 1rem;
}